*
  padding 0
  margin 0
  box-sizing border-box
  font-family 'Roboto' sans-serif

html, body, #root
  background #ECECEC
  width 100%
  height 100%

::-webkit-input-placeholder { /* WebKit browsers */
    color rgba(white, .5)
}

